---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
